
/* UNIVERSAL STYLES */
* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1000px;
}



img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}


input {
    display: block;
    width: 350px;
    border: none;
  	font-size: 16px;
 	padding: 15px;
  	background-color: rgba(54,54,54,0.1);
  	color: #1b1b1b;
  	border-radius: 5px;
    margin: 0 auto;
    
}

a {
   margin: 0 auto; 
}

ul {
    display: grid;
    width: 95%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    padding-bottom: 40px;
    list-style-type: none;
}

/* ATTRIBUTES */

.search {
    padding: 40px 0 40px 0;
}

.main-content{
    max-width: 1000px;
    margin: 0 auto;
   
    
}

/*MEDIA QUERIES*/


@media (min-width: 768px) {
    
    input {
        width: 500px;
}
}

